
 <div class="panel-group" >
     <div class="panel panel-primary">
        <div class="panel-heading">
				<h1><font face="Lucida Grande">About</font></h1>
			</div>
        </div>
     </div>

<form role="form">

<div class="form-group">
<label>Add a short bio:</label><input type="text" class="form-control" ng-model="bio"/>
</div>


<div class="form-group">
<label>Where did you study:</label><input type="text" class="form-control" ng-model="study" />
</div>
<div class="form-group">
 <label>Where do you work:</label><input type="text" class="form-control" ng-model="work" />
 </div>
 <div class="form-group">
 <label>Contact Number:</label><input type="text" class="form-control" ng-model="contact"/>
 </div>
 <div class="form-group">
 <label>Music you like:</label><input type="text" class="form-control" ng-model="music"/>
 </div>
 <div class="form-group">
 <label>Sports you like:</label><input type="text" class="form-control" ng-model="sports"/>
 </div>
 
 <button type="submit"  class="btn btn-primary"  value="submit" ng-click="about()">submit</button><br>



</form>