
<!-- <div class="span11" style="overflow: auto"  >-->
<div ng-controller="suggestfriendsController">
<div id="container"  ng-repeat="friend in suggestFriends">
      <div class="content"> <p>  {{friend.fname}}  {{friend.lname}} </p><input type="button" mydir class="btn btn-primary" ng-click="addFriend(friend)" value="Add friend"></input></div>
      
        
         
   

</div>

        
    </div>     
    


 