<div id="container"  ng-repeat="request in requests">
      <div class="content"> <p>  {{request.fname}}  {{request.lname}} </p><input type="button"  class="btn btn-primary" ng-click="acceptFriend(request)" value="Accept"></input></div>
      
        
         
   

</div>