<div ng-controller="postController">
<textarea rows="4" cols="70" placeholder="what's on your mind?" ng-model="status"></textarea><br><br>
<button type="submit" class="btn btn-primary" ng-click="postStatus()">Post</button>
</div>